<a href="https://colab.research.google.com/github/manne05/Konzepte/blob/master/A3_7_VerschiedeneAufgaben.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Verschiedene Aufgaben

## Aufgabe 1 

Schreibe ein Programm, das alle Zahlen in einer Liste aufsummiert. 
Beispielliste: [199, 45, 332, 234, 106, 74, 12, 143]

In [ ]:
liste = [ 199, 45, 332, 234, 106, 74, 12, 143 ]
# Manuelle Variante, hier wird über eine Hilfsvariable aufsummiert

summe = 0        

for i in liste:
    summe += i
    
print("Manuell:    Die Summe ist " + str(summe))

# Alternative Lösung, hier wird die eingebaute Methode sum verwendet
print("Alternativ: Die Summe ist " + str(sum(liste)))

Manuell:    Die Summe ist 1145
Alternativ: Die Summe ist 1145

## Aufgabe 2

Aus unserer Beispielliste sollen mit einem kleinen Programm der kleinste und der größte Wert gesucht werden.
Hier gibt es wieder eine manuelle Lösung mit Hilfsvariablen und eine Lösung mit eingebauten Pythonfunktionen.

In [ ]:
liste = [ 199, 45, 332, 234, 106, 74, 12, 143 ]

# Manuelle Variante mit den Hilfsvariablen minimum und maximum
minimum = liste[0]       # Deklaration und Initialisierung mit Inhalt des ersten Arrayelements
maximum = liste[0]       # dto.

for i in liste:
    if i < minimum:
        minimum = i
    if i > maximum:
        maximum = i
        
print("Manuelle Lösung:")
print("Die kleinste Zahl ist " + str(minimum))
print("Die größte Zahl ist " + str(maximum))

# Alternative Lösung
print("----------------------")
print("Alternative Lösung:")
print("Die kleinste Zahl ist " + str(min(liste)))
print("Die größte Zahl ist " + str(max(liste)))

Manuelle Lösung:
Die kleinste Zahl ist 12
Die größte Zahl ist 332
----------------------
Alternative Lösung:
Die kleinste Zahl ist 12
Die größte Zahl ist 332

## Aufgabe 3
Bei dieser Aufgabe sollen die Zahlenwerte in unserem Beispielarray aufsteigend sortiert und dann ausgegeben werden.

Wieder gibt es zwei Lösungen:
Eine manuelle Lösung über ein Hilfsarray und eine Lösung über eine vorhandene Pythonfunktion für Arrays.
Bei der manuellen Lösung wird das Array so oft durchlaufen, wie Elemente vorhanden sind und jeweils der kleinste Wert gesucht. Dieser wird in das Hilfsarray hinzugefügt und aus der ursprünglichen Liste entfernt.

In [ ]:
import time
liste = [ 199, 45, 332, 234, 106, 74, 12, 143 ]

# Manuelle Variante mit einem zweiten Array in das die Werte aufsteigend einsortiert werden
sortiert = []       # Deklaration und Initialisierung eines leeren Arrays
start_time = time.time()
for i in range(0, len(liste)):
    minimum = min(liste)
    sortiert.append(minimum)
    liste.remove(minimum)

finish_time = time.time()
print("Laufzeitdauer: {} msec".format((finish_time-start_time)*1000))
print(sortiert)

# Da die Liste geleert wurde, füllen wir sie erneut
liste = [ 199, 45, 332, 234, 106, 74, 12, 143 ]

# Alternative Lösung mit der eingebauten Methode sort()
start_time = time.time()
liste.sort()
finish_time = time.time()
print("Laufzeitdauer: {} msec".format((finish_time-start_time)*1000))
print(liste)

Laufzeitdauer: 0.11110305786132812 msec
[12, 45, 74, 106, 143, 199, 234, 332]
Laufzeitdauer: 0.0591278076171875 msec
[12, 45, 74, 106, 143, 199, 234, 332]

## Aufgabe 4

Bei dieser erweiterten Beispielliste sollen alle doppelten Zahlenwerte eliminiert werden. Dazu soll noch angezeigt werden, welche Zahlen doppelt in der Originalliste vorkommen.

Für die Lösung der Aufgabe verwenden wir zwei leere Arrays. 
Die Originalliste wird einmal in einer for - Schleife durchlaufen:
   Jeder Zahlenwert wird in das erste Array (ohneDubletten)eingefügt, 
   wenn
      er dort noch nicht vorhanden ist (wird mit not in festgestellt), 
   sonst 
      landet diese bereits vorhandene Zahl im zweiten Array (dubletten).

In [ ]:
liste = [ 199, 45, 12, 332, 234, 106, 74, 12, 143, 199, 45, 106]

ohneDubletten = []
dubletten = []

for i in liste:
    if i not in ohneDubletten:
        ohneDubletten.append(i)
    else:
        dubletten.append(i)

print("Originalliste:  ", liste)
print("Ohne Dubletten: ", ohneDubletten)
print("Dubletten:      ", dubletten)

Originalliste:   [199, 45, 12, 332, 234, 106, 74, 12, 143, 199, 45, 106]
Ohne Dubletten:  [199, 45, 12, 332, 234, 106, 74, 143]
Dubletten:       [12, 199, 45, 106]

## Aufgabe 5

Bei dieser Aufgabe sollen aus den beiden Listen liste1 und liste2 die Zahlenwerte herausgefunden werden, die in beiden Listen vorkommen.
Es kann hier ebenfalls mit einem neuen, leeren Array gearbeitet werden, in das die Zahlenwerte angefügt werden, die in beiden Listen vorkommen.

In [ ]:
liste1 = [ 199, 45, 12, 332, 234, 106, 74, 12, 143, 199 ]
liste2 = [ 254, 41, 32, 623, 45, 199, 73, 126, 332, 101 ]

ueberschneidung = []

for i in liste1:
    if i in liste2:
        ueberschneidung.append(i)
        
        
print("Überschneidung liste1 und liste2")
print(ueberschneidung)

Überschneidung liste1 und liste2
[199, 45, 332, 199]

## Aufgabe 6
### 6a
Hier sollen die Zahlenwerte der Liste 1 herausgefunden werden, die nicht in der Liste 2 sind.

### 6b
Nun sollen die Zahlenwerte in Liste 2 herausgefunden werden, die nicht in Liste 1 sind.

In [ ]:
liste1 = [ 199, 45, 12, 332, 234, 106, 74, 12, 143, 199 ]
liste2 = [ 254, 41, 32, 623, 45, 199, 73, 126, 332, 101 ]

ergebnis = []

for i in liste1:
    if i not in liste2:
        ergebnis.append(i)

print("6a: Elemente in Liste 1 die nicht in Liste 2 sind:")
print(ergebnis)

ergebnis = []

for i in liste2:
    if i not in liste1:
        ergebnis.append(i)

print("6b: Elemente in Liste 2 die nicht in Liste 1 sind:")
print(ergebnis)

6a: Elemente in Liste 1 die nicht in Liste 2 sind:
[12, 234, 106, 74, 12, 143]
6b: Elemente in Liste 2 die nicht in Liste 1 sind:
[254, 41, 32, 623, 73, 126, 101]